body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #656464;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #f89501;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #dc6e06;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
}

.delete-btn {
    float: right;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #da190b;
}

.title{
    color: #dc6e06;
}